aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: var(--bg-color);
  transition: all 0.3s;
  border-right: 8px solid var(--border-color);
}

.icon {
  margin: 12px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 4;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.icon-wrapper.rotated {
  transform: rotate(180deg);
}

.icon:hover {
  opacity: 0.5;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: absolute;
  top: 50px;
  transition: all 0.3s;
  background-color: var(--bg-color);
}

nav.expanded {
  left: 0;
}

nav.collapsed {
  left: -150%;
}

p {
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 4px;
}

p:hover {
  border-bottom: 4px solid var(--border-color);
  padding-bottom: 0px;
  color: rgb(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  aside {
    width: 64px;
    height: 100vh;
    justify-content: start;
  }

  aside.expanded {
    width: 240px;
  }

  aside.collapsed {
    width: 64px;
  }

  nav {
    width: 100%;
  }
}
